<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Javascript</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('jquery')">JQuery</a></li>
      <li><a href="" data-ng-click="scrollTo('tabulering')">Tabulering</a></li>
      <li><a href="" data-ng-click="scrollTo('tooltips')">Tooltips</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">

  <h2 id="jquery">JQuery</h2>
  <p class="skts-broedtekst">Brug af jquery til at skjule elementer</p>
  <div class="bs-docs-example" data-pretty>
    Brug af skts-visualhidden
  </div>

  <h2 id="tabulering">Tabulering</h2>
  <p class="skts-broedtekst">Brug af tabulering</p>
  <div class="bs-docs-example" data-pretty>
    Brug af tabindex=-1.
    Brug af tabulering til skjulte elementer.
  </div>


  <!-- skabelon
    <h2>Overskrift</h2>
    <p>Forklaring</p>
    <div class="bs-docs-example" data-pretty>
      Html code
    </div>
  -->

</div>
