<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Position</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('layoutstyring')">Styring af layout</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">

  <h2 id="layoutstyring">Styring af layout</h2>
  <h3>Clear float</h3>
  <p class="skts-broedtekst">Hvis en foreg&aring;ende komponent er floatet kan man med denne komponent slette det float s&aring;dan at den n&aelig;ste komponent ikke er floatet</p>
  <h1 class="todo">todo: Inkluder alternativ til clear float</h1>
  <div class="bs-docs-example" data-pretty>
    <div class="skts-slut-float"></div>
  </div>

  <h3>Nulstilling af marginer og padding</h3>
  <p class="skts-broedtekst">Denne klasse nulstiller de af stylesheetet definerede marginer og paddings.</p>
  <div class="bs-docs-example" data-pretty>
    <p class="skts-nulstil-margin-padding skts-broedtekst">Din skat for 2012 og tidligere &aring;r</p>
  </div>

  <h3>Centrering af indhold</h3>
  <p class="skts-broedtekst">Denne klasse kan centrere indhold p&aring; siden. Desuden s&aelig;tter den ens afstand til h&oslash;jre og venstre side af sk&aelig;rmbilledet.</p>
  <div class="bs-docs-example" data-pretty>
    <div class="centrer">
      <p class="skts-nulstil-margin-padding skts-broedtekst">Din skat for 2012 og tidligere &aring;r</p>
    </div>
  </div>

  <h3>H&oslash;jrejustering</h3>
  <p class="skts-broedtekst">Kr&aelig;ver parent elementet har position:relative, som f.eks. skts-footer</p>
  <div class="bs-docs-example" data-pretty>
    <div id="skts-footer"><p>Footer</p>
      <p class="skts-hoejrejuster">H&oslash;jrejusteret</p>
    </div>
  </div>

  <!-- skabelon
    <h2>Overskrift</h2>
    <p>Forklaring</p>
    <div class="bs-docs-example" data-pretty>
      Html code
    </div>
  -->

</div>

