<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <h1 class="skts-ramme-overskrift skts-ramme-overskrift-container">Menuer</h1>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('globalmenu')">Globalmenu</a></li>
      <li><a href="" data-ng-click="scrollTo('venstremenu')">Venstremenu</a></li>
      <li><a href="" data-ng-click="scrollTo('faneblade')">Faneblade</a></li>
      <li><a href="" data-ng-click="scrollTo('forside')">Forside menuer</a></li>
      <li><a href="" data-ng-click="scrollTo('tooltips')">Tooltips</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">
  <h2 id="globalmenu">Globalmenu</h2>
  <p class="skts-broedtekst">Global menu bruges som top menu p&aring; alle sider. Menuen er inddelt i en venstre <code>skts-globalmenu-venstre</code> og en h&oslash;jre side: <code>skts-globalmenu-venstre</code>, som begge er ul elementer. Hvert menu punkt er et li element indenfor denne som skal dekoreres med henholdsvis <code>skts-globalmenu-venstre-link</code> og <code>skts-globalmenu-hoejre-link</code> afh&aelig;ngigt af om man vil have menu punkter i h&oslash;jre eller venstre side af global menuen.</p>
  <p class="skts-broedtekst">Hvert af menu punkterne kan enten v&aelig;re standard, markeret: <code>skts-globalmenu-link-markeret</code> eller inaktivt: <code>skts-globalmenu-link-inaktiv</code>. Ligeledes kan hvert punkt dekoreres med et tooltip (se <a href="" data-ng-click="scrollTo('tooltips')">Tooltips</a>), hvis der skal bruges tooltip til et menu punkt.</p>
  <p class="skts-broedtekst">Bem&aelig;rk at det ydereste liste element i <code>skts-globalmenu-venstre</code> skal dekoreres med klassen <code>skts-globalmenu-hoejre-link-yderst</code> for at skjule den yderste h&oslash;jre border p&aring; elementet.</p><p class="skts-broedtekst">Markeringen om at en bruger af logget p&aring; eller ej kan foretages med klassen <code>skts-globalmenu-link-logaf</code> og <code>skts-globalmenu-link-logpaa</code>.</p>
  <p class="skts-broedtekst">Markeringen om et menupunkt er markeret g&oslash;res med klassen <code>skts-globalmenu-link-markeret</code></p>
  <div class="bs-docs-example" data-pretty>
    <div id="skts-globalmenu-container">
      <ul id="skts-globalmenu-venstre">
        <li><a href="#" class="skts-globalmenu-venstre-link">Forside</a></li>
        <li><a href="#" class="skts-globalmenu-venstre-link skts-globalmenu-link-markeret">&Aring;rsopg&oslash;relse</a></li>
        <li><a href="#" class="skts-globalmenu-venstre-link">Betaling</a></li>
        <li><a href="#" class="skts-globalmenu-venstre-link  skts-globalmenu-link-inaktiv skts-tooltip-holder ">Motor<span class="skts-tooltip"> Linket er inaktivt</span></a></li>
      </ul>
      <ul id="skts-globalmenu-hoejre">
        <li><a href="#" class="skts-globalmenu-hoejre-link">Kontakt</a></li>
        <li><a href="#" class="skts-globalmenu-hoejre-link">Profil</a></li>
        <li><a href="#" class="skts-globalmenu-hoejre-link skts-tooltip-holder">Hj&aelig;lp<span class="skts-tooltip"> &Aring;bner nyt vindue</span></a></li>
        <li><a href="#" class="skts-globalmenu-hoejre-link skts-globalmenu-hoejre-link-yderst skts-globalmenu-link-logaf">Log af</a></li>
      </ul>
      <div class="skts-slut-float"></div>
    </div>
  </div>

  <hr class="skts-hr" />

  <h2 id="venstremenu">Venstremenu</h2>
  <p class="skts-broedtekst">Venstremenuen er ligesom global menuen opbygget af en liste. Venstre menuen har en <code>h1</code> overskrift som har en bestemt klasse for denne type overskrift. Der m&aring; af tilg&aelig;ngeligheds &aring;rsager kun v&aelig;re en enkelt <code>h1</code> i menuen; der m&aring; alts&aring; ikke bruges flere end en <code>h1</code>.</p>
  <p class="skts-broedtekst">Bem&aelig;rk at det f&oslash;rste element i menu listen har klassen <code>skts-venstre-menu-element-yderst</code>, som skjuler den top border som disse elementer s&aelig;dvanligvis har.</p>
  <p class="skts-broedtekst">Markeringen af et aktivt menu punkt foretages med klassen <code>skts-venstre-menu-element-link-markeret</code>.</p>
  <div class="bs-docs-example" data-pretty>
    <div id="skts-venstre-menu-container" style="width: 33%">
      <div id="skts-venstre-menu-ramme">
        <h1 class="skts-ramme-overskrift skts-ramme-overskrift-container">&Aring;rsopg&oslash;relse</h1>
        <ul class="skts-venstre-menu-elementer">
          <li><a class="skts-venstre-menu-element-link-markeret skts-venstre-menu-element-yderst" href="#">Se &aring;rsopg&oslash;relsen</a></li>
          <li><a href="#">Ret &aring;rsopg&oslash;relsen</a></li>
          <li><a href="#">Ret &aring;rsopg&oslash;relsen for tidligere &aring;r</a></li>
          <li><a href="#">Betal restskat</a></li>
          <li><a href="#">Indberet servicefradrag (h&aring;ndv&aelig;rkerfradrag)</a></li>
          <li><a href="#">Se personlige skatteoplysninger</a></li>
          <li><a href="#">Beregn skatten</a></li>
          <li><a href="#">Se kvitteringer for indtastning</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="skts-hr" />

  <h2 id="faneblade">Faneblade</h2>
  <p class="skts-broedtekst">Faneblade kan bruges ved en inddeling af information. Den kan f. eks. bruges ved opdeling af &aring;rsopg&oslash;relsen i forskellige &aring;r. Den er opbygget som en liste, hvor et markeret liste element kan dekoreres med <code>skts-faneblad-markeret</code> for at markere denne. Tooltips kan ogs&aring; indarbejdes i denne komponent (se <a href="" data-ng-click="scrollTo('tooltips')">Tooltips</a>).</p>
  <div class="bs-docs-example" data-pretty>
    <ul id="skts-faneblade">
      <li class="skts-faneblad-markeret"><a class="skts-tooltip-holder" href="#">2012<span class="skts-tooltip">Link til &aring;rsopg&oslash;relsen for 2012</span></a></li>
      <li><a class="skts-tooltip-holder" href="#">2011<span class="skts-tooltip">Link til &aring;rsopg&oslash;relsen for 2011</span></a></li>
      <li><a class="skts-tooltip-holder" href="#">2010<span class="skts-tooltip">Link til &aring;rsopg&oslash;relsen for 2010</span></a></li>
      <li><a class="skts-tooltip-holder" href="#">Tidligere<span class="skts-tooltip">Link til &aring;rsopg&oslash;relsen for tidligere &aring;r</span></a></li>
    </ul>
  </div>

  <hr class="skts-hr" />

  <h2 id="forside">Forside menuer</h2>

  <div class="bs-docs-example" data-pretty>
    <div id="skts-tastselv-menu-indhold-container">
      <div id="skts-tastselv-menu-rammer-container">
        <div id="skts-tastselv-menu-aarsopgoerelse-ramme">
          <div class="skts-ramme-overskrift-container">
            <h1 class="skts-ramme-overskrift">
              <a href="#" class="skts-tooltip-holder">&Aring;rsopg&oslash;relse<span class="skts-tooltip"> G&aring; til &Aring;rsopg&oslash;relse</span></a></h1>
            <div style="width: 1px;">
              <!--Skal have en bredde (layout), ellers vil IE ikke give fokus til skiplink target'en, men til n&aelig;rmest for&aelig;ldre som har et layout -->
              <a class="skts-link-target-skjul" id="skts-skip-link-target-aarsopgoerelse">
                Aarsopg&oslash;relse</a>
            </div>
            <p class="skts-nulstil-margin-padding skts-broedtekst">
              Din skat for 2012 og tidligere &aring;r</p>
          </div>
          <div class="skts-tastselv-ramme-overskrift-seperator">
          </div>
          <ul class="skts-tastselv-menu-ramme-elementer">
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Se &aring;rsopg&oslash;relsen for 2012</a></li>
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Ret &aring;rsopg&oslash;relsen/selvangivelsen</a></li>
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Betal restskat</a></li>
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Indberet servicefradrag (h&aring;ndv&aelig;rkerfradrag)</a></li>
            <li class="skts-tastselv-menu-ramme-element skts-tastselv-menu-ramme-element-inaktiv"><a href="javascript:void(0)" class="skts-tooltip-holder">Link til deaktiveret menupunkt<span class="skts-tooltip"> Linket er inaktivt</span></a></li>
          </ul>
          <div class="skts-tastselv-menu-ramme-element-sidste-element-hoejre skts-tastselv-menu-ramme-element-inaktiv-gaatillinks"><a href="javascript:void(0)" class="skts-tooltip-holder">G&aring; til &Aring;rsopg&oslash;relse<span class="skts-tooltip"> Linket er inaktivt</span></a></div>
        </div><!--End #skts-tastselv-menu-aarsopgoerelse-ramme-->
        <div id="skts-tastselv-menu-forskudsopgoerelse-ramme">
          <div class="skts-ramme-overskrift-container">
            <h1 class="skts-ramme-overskrift"><a href="#" class="skts-tooltip-holder">Forskudsopg&oslash;relse (skattekort)<span class="skts-tooltip">G&aring; til Forskudsopg&oslash;relse</span></a></h1>
            <div style="width:1px;"> <!--Skal have en bredde (layout), ellers vil IE ikke give fokus til skiplink target'en, men til n&aelig;rmest for&aelig;ldre som har et layout -->
              <a class="skts-link-target-skjul" id="skts-skip-link-target-forskudsopgoerelse">Forskudsopgoerelse</a>
            </div>
            <p class="skts-nulstil-margin-padding skts-broedtekst">Den skat, du betaler i l&oslash;bet af 2013</p></div>
          <div class="skts-tastselv-ramme-overskrift-seperator"></div>
          <ul class="skts-tastselv-menu-ramme-elementer">
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Se forskudsopg&oslash;relsen for 2013</a></li>
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Ret forskudsopg&oslash;relsen for 2013</a></li>
            <li class="skts-tastselv-menu-ramme-element"><a href="#"> Bestil indbetalingskort (forskudsopg&oslash;relsen)</a></li>
            <li class="skts-tastselv-menu-ramme-element" id="skts-foldud-link"><a href="javascript:foldudToggle('skts-foldud-objekt','skts-foldud-tekst','skts-foldud-link','skts-tastselv-menu-ramme-element-foldet-ud',true);" class="skts-tooltip-holder">Menulink med submenu <span class="skts-tooltip" id="skts-foldud-tekst"> Folder ud</span></a>
              <div class="skts-foldet-ind" id="skts-foldud-objekt">
                <ul>
                  <li class="skts-tastselv-menu-ramme-element skts-tastselv-menu-ramme-element-submenu"><a href="#">Menu link 1</a></li>
                  <li class="skts-tastselv-menu-ramme-element skts-tastselv-menu-ramme-element-submenu"><a href="#">Menu link 2</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div id="skts-tastselv-menu-ramme-hoejde-justering" style="height: 41px;"></div>
          <div class="skts-tastselv-menu-ramme-element-sidste-element-venstre"><a href="#">G&aring; til Forskudsopg&oslash;relse</a>
          </div>
        </div><!--End #skts-tastselv-menu-forskudsopgoerelse-ramme-->
        <div class="skts-slut-float"></div>
      </div><!--End #skts-tastselv-menu-rammer-container-->
    </div>
  </div>

  <hr class="skts-hr" />


  <h2 id="tooltips">Tooltips</h2>

  <h3>Tilg&aelig;ngelige tooltips</h3>
  <p class="skts-broedtekst">Tooltips er bygget op af en skts-tooltip-holder, som omkranser et skts-tooltip. Denne vises kun hvis brugeren holder musen over elementet eller navigerer via tastaturet til elementet. Tooltips bruges fortrinsvist til <a>anchor</a> elementer, men kan som vist ogs&aring; bruges til andre elementer, til f.eks. at forklare et punkt.</p>
  <div class="bs-docs-example" data-pretty>
    <p class="skts-broedtekst"><span class="skts-tooltip-holder"><abbr title="Vi har &aelig;ndret bel&oslash;bet for dig">A</abbr><span class="skts-tooltip">Vi har &aelig;ndret bel&oslash;bet for dig</span></span></p>
  </div>

  <hr class="skts-hr" />


  <!-- skabelon
          <h2>Overskrift</h2>
          <p class="skts-broedtekst">Forklaring<p>
          <div class="bs-docs-example" data-pretty>
            Html code
          </div>
-->

</div>
