<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Links</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('almindeligelinks')">Almindelige links</a></li>
      <li><a href="" data-ng-click="scrollTo('speciellelinks')">Specielle links</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">
  <h2 id="almindeligelinks">Almindelige links</h2>
  <h3>Prim&aelig;re links</h3>
  <div class="bs-docs-example" data-pretty>
    <a class="skts-primaer-link" href="#">Prim&aelig;r link</a>
  </div>

  <h3>Sekund&aelig;re links</h3>
  <div class="bs-docs-example" data-pretty>
    <a class="skts-sekundaer-link" href="#">Sekund&aelig;r link</a>
  </div>

  <hr class="skts-hr" />

  <h2 id="speciellelinks">Specielle links</h2>
  <h3>Skiplinks</h3>
  <p class="skts-broedtekst">Skiplinks bruges til toppen af en side for at en bruger af et tastatur nemt kan navigere til indholdet af en side. Dette kr&aelig;ver at der er sat et element i toppen af indholdet med f.eks. </p>
  <div data-pretty><a id="skts-skip-link-target-indhold" class="skts-link-target-skjul">Indhold</a></div>
  <div class="bs-docs-example" data-pretty>
    <div id="skts-logo-op"><img src="../sktscommon/Images/toplogo.jpg" alt="" /></div>
    <div id="skts-logo-ned">
      <img src="../sktscommon/Images/logo.gif" alt="SKATs logo" />
      <ul id="skts-skip-links">
        <li><a id="skts-skip-til-indhold" href="#skts-skip-link-target-indhold">G&aring; til indhold</a></li>
      </ul>
    </div>
  </div>
</div>
