<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Generelt</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('skillelinier')">Skillelinier</a></li>
      <li><a href="" data-ng-click="scrollTo('resultatlinier')">Resultatlinier</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">

  <h2 id="skillelinier">Skillelinier</h2>

  <h3>Skillelinie</h3>
  <p class="skts-broedtekst">Skillelinie vises normalt i toppen af sk&aelig;rmbilledet</p>
  <div class="bs-docs-example" data-pretty>
    <div class="skts-skillelinie-top"></div>
  </div>

  <h3>Skillelinie</h3>
  <p class="skts-broedtekst">Viser en skillelinie mellem blokke</p>
  <div class="bs-docs-example" data-pretty>
    <hr class="skts-hr">
  </div>

  <h3>Skillelinie i beregning</h3>
  <p class="skts-broedtekst">Viser en skillelinie i en beregning</p>
  <div class="bs-docs-example" data-pretty>
    <hr class="skts-layout1-streg" />
  </div>

  <h2 id="resultatlinier">Resultatlinier</h2>
  <div class="bs-docs-example" data-pretty>
    <p class="skts-broedtekst skts-layout2-linje_resultat">
      <span class="skts-layout1-tekst">Beløb</span>
    </p>
  </div>




  <!-- skabelon
    <h3>Overskrift</h3>
    <p>Forklaring<p>
    <div class="bs-docs-example" data-pretty>
      Html code
    </div>
  -->
</div>

