<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Andet</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('jquery')">JQuery</a></li>
      <li><a href="" data-ng-click="scrollTo('tabulering')">Tabulering</a></li>
      <li><a href="" data-ng-click="scrollTo('tooltips')">Tooltips</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">

  <!-- skabelon
          <h2>Overskrift</h2>
          <p>Forklaring<p>
          <div class="bs-docs-example" pretty">
            Html code
          </div>
-->

</div>
