<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Specielle klasser</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('input')">&Aring;rsopg&oslash;relsen</a></li>
    </ul>
  </div>
</div>

<div id="skts-indhold-guide">

  <h2>Overskrift</h2>
  <p class="skts-broedtekst">Forklaring</p>
  <div class="bs-docs-example" data-pretty>
    <p class="skts-nulstil-margin-padding skts-broedtekst">Din skat for 2012 og tidligere &aring;r</p>
  </div>

  <h2>Milj&oslash; fremh&aelig;vning</h2>
  <p class="skts-broedtekst">Fremh&aelig;ver det aktuelle milj&oslash; hvor platformen k&oslash;rer, bruges normalt indenfor logo omr&aring;det.</p>
  <div class="bs-docs-example" data-pretty>
    <div class="skts-miljoe"><span id="skts-header-miljoe">BRGT</span>&nbsp;<span id="skts-header-versionsnr">ver. 12.3.0.17</span></div>
  </div>

  <!-- skabelon
    <h2>Overskrift</h2>
    <p>Forklaring</p>
    <div class="bs-docs-example" data-pretty>
      Html code
    </div>
  -->

</div>

