<div id="skts-venstre-menu-container">
  <div id="skts-venstre-menu-ramme">
    <div class="skts-ramme-overskrift skts-ramme-overskrift-container">Udg&aring;et</div>
    <ul class="skts-venstre-menu-elementer">
      <li><a href="" data-ng-click="scrollTo('placeringknapper')">Placering af knapper</a></li>
      <li><a href="" data-ng-click="scrollTo('lister')">Lister</a></li>
    </ul>
  </div>
</div>
<div id="skts-indhold-guide">

  <h2 id="placeringknapper">Placering af knapper</h2>
  <div class="bs-docs-example" data-pretty>
    <div class="skts-knapper-placering1" >
      <input type="submit" class="skts-knap-primaer" value="Gem" /><input type="button" class="skts-knap-sekundaer" value="Fortyd" />
    </div>
  </div>

  <div class="bs-docs-example" data-pretty>
    <div class="skts-knapper-placering2">
      <input type="submit" class="skts-knap-primaer" value="Godkend" /><input type="button" class="skts-knap-sekundaer skts-knap-nulstil-margin skts-onclick-checkAendringer" value="Fortryd" />
    </div>
  </div>

  <div class="bs-docs-example" data-pretty>
    <div class="skts-knapper-placering3">
      <input type="submit" class="skts-knap-primaer" value="Godkend" /><input type="button" class="skts-knap-sekundaer skts-knap-nulstil-margin skts-onclick-checkAendringer" value="Fortryd" />
    </div>
  </div>

  <h3>Knapper med ramme</h3>
  <div class="bs-docs-example" data-pretty>
    <div class="skts-knapper-placering2 skts-knapper-ramme">
      <input type="submit" class="skts-knap-primaer" value="Godkend" /><input type="button" class="skts-knap-sekundaer skts-knap-nulstil-margin skts-onclick-checkAendringer" value="Fortryd" />
    </div>
  </div>

  <hr class="skts-hr" />

  <h2 id="lister">Lister</h2>

  <div class="bs-docs-example" data-pretty>
    <ul class="skts-liste1">
      <li>Rette din &aring;rsopg&oslash;relse for 2012 efter fristen</li>
      <li>Selvangive for 2012 og har f&aring;et uds&aelig;ttelse</li>
      <li>Selvangive for 2012 og ikke har f&aring;et uds&aelig;ttelse (du skal s&aring; betale et skattetill&aelig;g).</li>
    </ul>
  </div>

  <hr class="skts-hr" />

  <!-- skabelon
    <h3>Overskrift</h3>
    <p class="skts-broedtekst">Forklaring<p>
    <div class="bs-docs-example" data-pretty>
      Html code
    </div>
  -->

</div>


