/* Fejlrapport modtaget d. 17/01/2014 */

/* 001 */
.skts-broedtekst
{
  line-height: 1.5em;
}

/* 002 */
.skts-layout1-vis {
   padding: 1.25% 1.25% 0 0;
}

/* 010 */
/* Kan ikke genskabes */

/* 011 */
.skts-knap-primaer {
  border: 1px solid #14364C;
}

/* 017 */
.skts-tooltip-holder .skts-tooltip {
  width: 8em;
}

/* 018 */
h3.skts-layout1-lille-overskrift {
  padding: 0;
}

/* 019 
 * Dette hører til KMD da det er dem som laver rammen
 */

